body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.25;
}

#wrapper {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px auto;
    padding: 10px;
}

#summary {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

#photo {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

@media only screen and (max-width: 800px) {
    #wrapper {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    #summary {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    #photo {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }
}

#photo img {
    width: 100%;
}

.col {
    background-color: #f8f8f8;
    padding: 5px;
}

h1, h2 {
    margin: 0;
}

.pull {
    font-size: 140%;
}

ul {
    margin: 10px 0;
    padding-left: 25px;
}